@model Employee
<html>
    <head>
        <title>Employee</title>
    </head>
    <body>
        <h1>Hello from employee</h1>
        <form asp-action="Employees" method="post">
            <div>
            <label asp-for="Name">Name</label>
            <input asp-for="Name" />
        </div>
        <div>
            <label asp-for="Prenom">Prenom</label>
            <input asp-for="Prenom" />
        </div>
        <div>
            <label asp-for="isActive">Accpeter</label>
            <input type="checkbox" asp-for="isActive" />
        </div>
        <button type="submit">Save</button>
        </form>
    </body>
</html>