@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <img  src="/images/81569066-developer-word-in-retro-style.jpg" style="max-width:10%"/>
    <br />
    <a asp-action="Employees" class="btn btn-primary mt-3 py-2 mb-2">Add Employee</a>
    <br />
     <a asp-action="AllEmployee" class="btn btn-info">Go to Liste of employees</a>
</div>
