@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a asp-action="Employees">Add Employee</a>
     <a asp-action="AllEmployee">Go to Liste of employees</a>
</div>
